@charset "UTF-8";
*{margin: 0;padding: 0; box-sizing: border-box;}
nav{ height: 90 px;}
a{cursor: pointer; font-weight: bold;}  


.navbar-collapse a{text-decoration: none; color: #ffffff;}
.navbar-collapse a:hover{color:#A569BD;}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}
.neo-section{
    min-height: 700px;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 30px;
    position: relative;
}

.wm{ float: left; text-align:center;}
.clear{clear: both;}
.center{text-align: center;}
.neo-container{max-width: 1280px; padding: 2% 2%; margin: 0 auto; margin-top: 200px;}

.neo-section >.neo-container {
    position: relative;
    z-index: 105;
}

.texto-centro{color: #fff; font-size: 3em; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.btn{width: 280px; color: #fff; border-radius: 10px; border: 3px solid #a55eea; padding: 20px;}
.botoes{padding: 2% 15%;}
.btn:hover{color: #ce93d8; background-color: rgba(0, 0, 0, 0.5);}
.rodape{color: #fff; background-color: #4527A0; text-align: center; font-size: 1.25em; padding: 10px;}

/* Responsividade */
@media screen and (max-width: 667px){
	

	.wm{width: 100%;}
    nav{height: 100%;}
    .neo-container{margin-top: 120px;}
}